@* VotingApplication.Web/Views/Home/Error.cshtml *@
@{
    ViewData["Title"] = "Hata";
}

<div class="container">
    <h1 class="text-danger">Hata</h1>
    <h2 class="text-danger">İşlem sırasında bir hata oluştu.</h2>
    <p>Lütfen sistem yöneticisi ile iletişime geçin.</p>
</div>